@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");

    font-family: Korataki-Regular;
    src: url("../fonts/korataki-regular.otf");
}

$black: #0C0C0C;
$white: #FFFFFD;
$orange: #E45302;

body {
    margin: 0;
    font-family: Lato-Regular;
}

.noscript_container {
    color: red;
    text-align: center;
}

.bar-info_box {
    background-color: $black;
    padding: 13px 0;

    .bar-info_links_container {
        font-size: 16px;
        margin: 0;
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 70px;
        list-style-type: none;

        a {
            color: $white;
            text-decoration: none;
        }
    }
}

.header_box {
    background-color: $white;
    padding: 12px 0;

    .header_container {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header_logo_container a {
            text-decoration: none;
        }

        .header_openMenu_container {
            button {
                border: none;
                background-color: $white;
                cursor: pointer;
                transform: scale(1.4);
            }
        }

        .header_menu {
            margin: 0;
            flex-direction: row;
            align-items: center;
            gap: 100px;
            list-style-type: none;

            a {
                color: $black;
                font-weight: 600;
                text-decoration: none;

                &:hover, &:active {
                    text-decoration: underline;
                    text-decoration-color: #E45302;
                }
            }
        }

        .header_features {
            flex-direction: row;
            align-items: center;
            gap: 20px;

            .header_features_search_form {
                .header_features_search_container {
                    position: relative;
                }

                .header_features_search_input {
                    padding: 12px 0 12px 20px;
                    font-size: 16px;
                    border: 1px solid #F5F5F5;
                    border-radius: 30px;
                    outline: none;

                    &:hover, &:active {
                        border: none;
                        outline: 1px solid #E45302;
                    }
                }

                .header_features_search_submit {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover, &:active {
                        width: 32px;
                        height: 32px;
                        border-radius: 100px;
                        background-image: url("../img/searchIconBlack.png");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }

            .header_features_basket_container {
                color: $white;
                background-color: $black;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                cursor: pointer;
                padding-left: 20px;
                padding-right: 20px;
                border: none;

                .header_features_basket_bag {
                    margin-right: 5px;

                    .header_features_basket_el_container {
                        position: absolute;

                        .header_features_basket_el {
                            width: 16px;
                            height: 16px;
                            border: 1px solid $white;
                            border-radius: 50%;
                            background-color: $white;
                            position: relative;
                            right: -16px;

                            span {
                                color: $black;
                                font-size: 12px;
                            }
                        }
                    }

                    img {
                        position: relative;
                    }
                }
            }
        }
    }
}

.header_box_mobile {
    background-color: $black;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 0;
    max-height: 100vh;
    z-index: 1;
    transition: max-width 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), max-height 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow-y: auto;

    &.header_box_mobile_BtnOpenMenu {
        min-width: 40%;
        min-height: 100vh;
    }

    .header_container_mobile {
        padding: 25px 0;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 10px;

        .header_closeMenu_container_mobile {
            button {
                border: none;
                background-color: $black;
                cursor: pointer;
                transform: scale(1.1);
                margin-bottom: 20px;
            }
        }

        .bar-info_links_container_mobile {
            padding-left: 0;
            font-size: 16px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 15px;
            list-style-type: none;

            a {
                color: $white;
                text-decoration: none;

                &:hover, &:active {
                    text-decoration: underline;
                    text-decoration-color: #E45302;
                }
            }
        }

        .header_menu_mobile {
            margin-top: 30px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 15px;
            list-style-type: none;

            a {
                color: $white;
                font-weight: 600;
                text-decoration: none;

                &:hover, &:active {
                    text-decoration: underline;
                    text-decoration-color: #E45302;
                }
            }
        }

        .header_features_mobile {
            display: flex;
            flex-direction: column;
            align-items: end;

            .header_features_search_form_mobile {
                .header_features_search_container_mobile {
                    position: relative;
                }

                .header_features_search_input_mobile {
                    border: 1px solid #F5F5F5;
                    border-radius: 30px;
                    outline: none;

                    &:hover, &:active {
                        border: none;
                        outline: 1px solid #E45302;
                    }
                }

                .header_features_search_submit_mobile {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    pointer-events: auto;

                    &:hover, &:active {
                        width: 32px;
                        height: 32px;
                        border-radius: 100px;
                        background-image: url("../img/searchIconBlack.png");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }

            .header_features_basket_container_mobile {
                color: $white;
                background-color: $black;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                cursor: pointer;
                margin: 20px 0;
                border: 1px solid #808080;

                .header_features_basket_bag_mobile {
                    margin-right: 5px;

                    .header_features_basket_el_container_mobile {
                        position: absolute;
                        border: none;

                        .header_features_basket_el_mobile {
                            width: 16px;
                            height: 16px;
                            border: 1px solid $white;
                            border-radius: 50%;
                            background-color: $white;
                            position: relative;
                            right: -16px;

                            span {
                                color: $black;
                            }
                        }
                    }

                    img {
                        position: relative;
                    }
                }
            }
        }
    }
}

main {
    background-color: $white;

    .main_container {
        h1 {
            font-family: Korataki-Regular;
            margin: 60px 0 40px 0;
        }

        .main_cards_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 60px;

            .main_card {
                &:nth-child(1) .main_card_product {
                    background-image: url("../img/products/product_001.png");
                }
                &:nth-child(2) .main_card_product {
                    background-image: url("../img/products/product_002.png");
                }
                &:nth-child(3) .main_card_product {
                    background-image: url("../img/products/product_003.png");
                }
                &:nth-child(4) .main_card_product {
                    background-image: url("../img/products/product_004.png");
                }
                &:nth-child(5) .main_card_product {
                    background-image: url("../img/products/product_005.png");
                }
                &:nth-child(6) .main_card_product {
                    background-image: url("../img/products/product_006.png");
                }
                &:nth-child(7) .main_card_product {
                    background-image: url("../img/products/product_007.png");
                }
                &:nth-child(8) .main_card_product {
                    background-image: url("../img/products/product_008.png");
                }

                .main_card_product {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 20px;
                    font-size: 16px;

                    .main_card_product_discount {
                        margin: 10px 0 0 10px;
                        align-self: flex-start;
                        color: $white;
                        background-color: $black;
                        border: none;
                        border-radius: 30px;
                    }

                    .main_card_product_details_container {
                        opacity: 0;
                        background-color: #F5F5F5B2;
                        text-align: center;
                        padding: 20px 0;
                        border-radius: 0 0 20px 20px;
                        transition: opacity 0.33s ease;

                        button {
                            color: $white;
                            background-color: $orange;
                            border: none;
                            border-radius: 30px;
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        .main_card_product_details_container {
                            display: block;
                            opacity: 1;
                        }
                    }
                }

                .main_card_price_container {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    font-weight: 700;

                    .main_card_price_discountNew {
                        color: $orange;
                    }

                    .main_card_price_discountOld {
                        color: #808080;
                        font-weight: 600;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #0C0C0C;
}